

.head{
display: flex;
justify-content: space-between;
background-color: white;
}

.head a{
  position: relative;
  text-decoration: underline;  
  cursor: pointer; 
}
.head a:hover{
  color: blue;
  font-size: larger;
}

.note-group{
  background-color: white;
  display: flex;
  position:relative;
  flex-wrap:wrap;
  gap: 10px;
  padding-top: 10px;
  justify-content: space-between;
}
